<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDkcdSpqtHHiT9aQ4LxPW7DBpAZbWm10fk</string>
	<key>GCM_SENDER_ID</key>
	<string>24157986172</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cuidartech.app.CuidarTechApp</string>
	<key>PROJECT_ID</key>
	<string>cuidartech-demo</string>
	<key>STORAGE_BUCKET</key>
	<string>cuidartech-demo.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:24157986172:ios:4a4625a9acbe477e7ed8f9</string>
</dict>
</plist>